<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InfTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <InfTracker.Properties.Settings>
            <setting name="okBackgroundColor" serializeAs="String">
                <value>#FF98FB98</value>
            </setting>
            <setting name="okForegroundColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="oldBackgroundColor" serializeAs="String">
                <value>#FFC0C0C0</value>
            </setting>
            <setting name="oldForergoundColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="reallyBadBackgroundColor" serializeAs="String">
                <value>#FFA52A2A</value>
            </setting>
            <setting name="reallyBadForegroundColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="badBackgroundColor" serializeAs="String">
                <value>#FFFFB6C1</value>
            </setting>
            <setting name="badForegroundColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
        </InfTracker.Properties.Settings>
    </userSettings>
</configuration>